/* 
.fa-solid.fa-magnifying-glass {
    font-size: 50px;
}

body {
    color: #3ab05a;
}

.text-center {
    text-align: center;
}

hr {
    clear: both;
} */

.main {
    width: 450px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.color {
    display: flex;
    justify-content:center;
    background-color: rgb(226, 87, 87);
    height: 100px;
    width: 200px;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn2 {
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 70px;
    color: rgb(174, 16, 210)
}